* {
    margin: 0;
    padding: 0;
    display: border-box;
}

:root {
    --pal-contrast-dark: #3F0D12;
    --pal-contrast-light: #A71D31;
    --pal-light: #F1F0CC;
    --pal-mid: #D5BF86;
    --pal-dark: #8D775F;
}

body {
    background-color: var(--pal-light);
    font-family: 'Poppins', sans-serif;
}

/* Header & Title */
header {
    background-image: url("../images/rob-laughter-WW1jsInXgwM-unsplash.jpg");
    background-position: bottom;
    background-size: cover;
    height: 22rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 15rem;
    font-family: 'Puppies Play', serif;
    color: #fff;
    text-shadow: 2px 2px 4px var(--pal-dark);
}

/* Navigation Bar */
.main-nav {
    height: 3rem;
    background-color: var(--pal-dark);
}

.main-nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    list-style: none;
}

.main-nav a {
    text-decoration: none;
    color: var(--pal-light);
    font-family: 'Poppins', sans-serif;
    font-size: 1.4em;
}

.main-nav a:hover {
    color: var(--pal-contrast-dark);
    transition: .2s linear;
}

/* Hamburger */
.hambutton {
    position: fixed;
    z-index: 100;
    top: 0.4rem;
    right: 0.4rem;
    padding: 4px;
    border: var(--pal-contrast-dark) solid 2px;
    background: var(--pal-light);
    cursor: pointer;
}

.closeIcon {
    display: none;
}

.hamburger-menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: var(--pal-dark);
    color: var(--pal-light);
    list-style: none;
    padding-top: 4rem;
}

.showMenu {
    transform: translateY(0);
  }

.menuItem {
    display: block;
    margin: 2rem 4rem;
    font-size: 1.8rem;
    color: var(--palette-mid);
    text-decoration: none;
}

.menu-item:active {
    background-color: var(--pal-light);
}

.svg {
    filter: invert(51%) sepia(7%) saturate(1635%) hue-rotate(351deg) brightness(92%) contrast(81%);
}

/* Quote */
.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.introduction-quote {
    background-color: var(--pal-contrast-dark);
    color: var(--pal-mid);
    text-align: center;
    padding: 1.1rem;
    box-shadow: 2px 2px 4px var(--pal-contrast-light);
    margin: 2rem 4rem;
}

#quote h3 {
    font-family: 'Poppins', serif;
    font-size: 2rem;
    font-style: italic;
    font-weight: 300;
}

/* Image Section */
.images {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    background-color: var(--pal-contrast-light);
    padding-top: 2rem;
    padding-bottom: 1.8rem;
}

.image img {
    margin: 0px;
    object-fit: cover;
    height: 16.6rem;
    width: 16.6rem;
}

/* Main Area Grid */
.grid {
    display: grid;
    grid-template-columns: 1fr 6fr 2fr 1fr;
    grid-template-rows: repeat(2, auto);
    grid-gap: 1rem;
    background-color: var(--pal-mid);
    margin: 0;
    padding: 1rem;
}

.grid section {
    background-color: var(--pal-light);
    color: #312921;
    padding: 1rem;
}

.main-body {
    grid-area: 1 / 2 / span 2 / span 1;
}

.main-body p {
    padding: 0.6rem 0;
}

.news {
    grid-area: 1 / 3 / span 1 / span 1;
}

section ul {
    list-style: none;
}

section a {
    text-decoration: none;
    color: var(--pal-contrast-dark);
}

section a:hover {
    color: var(--pal-contrast-light);
    transition: .2s linear;
}

.links {
    grid-area: 2 / 3 / span 1 / span 1;
}

/* Footer */
footer {
    background-color: var(--pal-dark);
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

footer p {
    padding: 1rem;
    color: var(--pal-light);
}

/* Breakpoints */
@media only screen and (max-width: 760px) {
    h1 {
        font-size: 10rem;
    }

    #image5,
    #image6 {
        display: none;
    }
}

@media only screen and (min-width: 501px) {
    .hamburger {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 6rem;
    }

    .main-nav a {
        display: none;
    }

    .main-nav {
        height: 1rem;
    }

    header {
        height: 10rem;
    }

    .hamburger {
        display: block;
    }
}

@media only screen and (max-width: 800px) {
    #quote h3 {
        font-size: 1.2rem;
    }

    .introduction-quote {
        margin: 1.1rem;
    }

    .grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, auto);
        margin: 2%;
    }

    .main-body {
        grid-area: 1 / 1 / span 1 / span 2;
    }

    .news {
        grid-area: 2 / 1 / span 1 / span 1;
    }

    .links {
        grid-area: 2 / 2 / span 1 / span 1;
    }
}

@media only screen and (max-width: 300px) {
    .introduction-quote {
        display: none;
    }
}

@media only screen and (max-width: 530px) {
    #image1,
    #image3,
    #image4 {
        display: none;
    }
}

@media only screen and (max-width: 1595px) and (min-width:1063px) {
    #image5,
    #image6 {
        display: none;
    }
}